
/** Accueil **/

.main
{
	display: block;
	background-color: #19253D;
	margin: auto;
	height: 300px;
	width: 500px;
	float: center;
	border-radius: 70px;
	text-align: center;

}

body 
{

	color: white;
}

a:hover 
{

	color: white;
}

a 
{
	color: white;
}

video#bgvid 
{
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

video 
{ 
	display: block; 
}